<ion-content>
    <div>
        <ion-icon name="close" style="text-align: right; float: right; color: #ffffff; margin-top: 10%; margin-right: 5%" (click)="dismiss()"></ion-icon>
    </div>

    <ion-card class="card-editar">
        <ion-card-title>{{this.datos.nombre}} <ion-card-subtitle style="float: right">${{this.datos.precio}}</ion-card-subtitle></ion-card-title>
        <ion-input [(ngModel)]="this.carrito.cantidad"></ion-input>
        <ion-button style="float: right" (click)="agregarCarrito()" *ngIf="this.carrito.cantidad !== 0 && this.carrito.cantidad > 0">agregar</ion-button>
    </ion-card>

    <ion-label style="margin-top: 10%; margin-left: 5%" *ngIf="this.extra">Selecciona un Extra</ion-label>
    <ion-select placeholder="Extra" multiple="true" [(ngModel)]="toppings" interface="popover" (ionChange)="selectExtra()" *ngIf="this.extra">
        <ion-select-option>crema</ion-select-option>
        <ion-select-option>leche</ion-select-option>
    </ion-select>

    <ion-list *ngFor="let c of carritoProductos" style="margin-top: 10%">
        <ion-item>({{c.cantidad}}) {{c.nombre}}</ion-item>
    </ion-list>

    <ion-button *ngIf="this.extra" style="width: 100%; background: white; color: #1e1e1e" (click)="carritoAgregarExtras()">Guardar en carrito</ion-button>
</ion-content>


<ion-footer>
    <ion-label *ngIf="this.totalCarrito !== 0" style="float: right; margin-right: 5%; margin-bottom: 5%; font-size: medium">
        Total: {{this.totalCarrito}}
    </ion-label>
</ion-footer>
