<ion-content>
    <div>
        <ion-icon name="close" style="text-align: right; float: right; color: #ffffff; margin-top: 10%; margin-right: 5%" (click)="dismiss()"></ion-icon>
    </div>

<!--    pattern="https?://.+\.(.+)"-->

    <ion-card-content class="card-editar">
        <ion-item class="dataSettings">
            <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
            <ion-input style="font-family: Bodoni FLF" required type="text" [(ngModel)]="this.datos.nombre" name="nombre" (ionBlur)="updateName(this.datos.nombre)"></ion-input>
        </ion-item>

        <ion-item class="dataSettings">
            <ion-label position="stacked">Precio<ion-text color="danger">*</ion-text></ion-label>
            <ion-input style="font-family: Bodoni FLF" required type="text" [(ngModel)]="this.datos.precio" name="nombre" (ionBlur)="updatePrecio(this.datos.precio)"></ion-input>
        </ion-item>

        <ion-item class="dataSettings">
            <ion-label position="stacked">Descripcion</ion-label>
            <ion-input style="font-family: Bodoni FLF" required type="text" [(ngModel)]="this.datos.descripcion" name="nombre" (ionBlur)="updateDescripcion(this.datos.descripcion)"></ion-input>
        </ion-item>

    </ion-card-content>
</ion-content>
