<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-select value="all" [(ngModel)]="seleccion" name="seleccion" (ionChange)="getCategory()">
        <ion-select-option value="all" interface="action-sheet">Todo</ion-select-option>
        <ion-select-option *ngFor="let lc of listaCategorias" [value]="lc.id">{{lc.nombre}}</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sss</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let lp of listaProductos">
    <ion-card>
      <ion-card-title (click)="agregarProductoCarrito(lp)">{{lp.nombre}}</ion-card-title>
      <ion-card-header class="editarProd">
        <ion-icon name="create-outline" (click)="editarProducto(lp)"></ion-icon>
      </ion-card-header>
      <ion-card-subtitle>${{lp.precio}}</ion-card-subtitle>
      <ion-img src="{{lp.imagen}}" style="max-height: 100px"></ion-img>
      <ion-card-content class="descripcion">{{lp.descripcion}}</ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

